#### 1. 관서명, 살인발생, ... <= 컬럼명

  | 관서명 | 살인발생 | 살인검거 |
  | ------ | ------| ------ |
  | 중부  |    2 |  2   |
 
#### 2. 관서명(구분)이 인덱스, 살인발생, ... 컬럼명 

   |살인발생|살인검거|
   | ------| ------ |
   |    2   |  2     |

## 위의 형태로 Datafram이 나오게끔 2017년 csv를 읽어서 위의 형태로 구성 하시오

In [1]:
import pandas as pd
import numpy as np

## 데이터 확득하기 
[5대범죄현황](https://www.data.go.kr/dataset/3075835/fileData.do)
폴더 이름을seoul_crime 로 변경한후 data 폴더에 저장
### pandas를 이용해 데이터를 정리
다운받은 파일을 변수에 저장한다.

In [4]:
# 한글명 제거후 로드 
#pd.read_csv('../data/seoul_crime/2017.csv', encoding='euc-kr')
#engine옵션이 c, python으로 나눠져서 파싱을 하게됨 
# 기본 값이 c엔진이라 한글이 깨지는 경우가 더러 잇음 
# python엔진으로 설명하면 파일명 및 파일 내용의 인코딩가지 자동으로 처리함 
crime_raw_data = pd.read_csv('../data/seoul_crime/2017년.csv', engine='python')
crime_raw_data.shape

(310, 4)

In [6]:
crime_raw_data.head()

   구분  죄종 발생검거   건수
0  중부  살인   발생    0
1  중부  살인   검거    0
2  중부  강도   발생    6
3  중부  강도   검거    6
4  중부  강간   발생  173

- numpy 

    배열은 동일한 타입의 값들을 가지며, 
    배열의 차원을 rank 라 하고, 
    각 차원의 크기를 튜플로 표시하는 것을 shape 라 한다. 
    예를 들어, 행이 2이고 열이 3인 2차원 배열에서 rank는 2 이고,
     shape는 (2, 3) 이 된다.
     
 #### 총관할서의 수 = crime_raw_data.shape[0] / 10 => 31

In [5]:
# 5대 범죄 *2(발생, 검거) => 관할서당 데이터는 10개 
# 총관할서의 수 = crime_raw_data.shape[0]/10 => 31
crime_raw_data.shape[0]/10

31.0

In [14]:
# 그러므로 데이터 구조의 데이터 수는 (31,10) 이런 형태로 출력되면 OK
tmp = pd.pivot_table( crime_raw_data,
                     index = ['구분'],
                     columns = ['죄종','발생검거']
                    )
tmp.shape

(31, 10)

In [12]:
tmp.head(2)

       건수
죄종     강간       강도     살인      절도          폭력
발생검거   검거   발생  검거  발생 검거 발생   검거    발생    검거    발생
구분
강남    366  456  16  13  6  6  787  2069  1942  2229
강동    169  172  12  10  6  5  949  1645  2109  2429

In [13]:
tmp.columns

MultiIndex([('건수', '강간', '검거'),
            ('건수', '강간', '발생'),
            ('건수', '강도', '검거'),
            ('건수', '강도', '발생'),
            ('건수', '살인', '검거'),
            ('건수', '살인', '발생'),
            ('건수', '절도', '검거'),
            ('건수', '절도', '발생'),
            ('건수', '폭력', '검거'),
            ('건수', '폭력', '발생')],
           names=[None, '죄종', '발생검거'])

In [16]:
tmp.columns.levels[0]

Index(['건수'], dtype='object')

In [17]:
tmp.columns.levels[1]

Index(['강간', '강도', '살인', '절도', '폭력'], dtype='object', name='죄종')

In [18]:
tmp.columns.levels[2]

Index(['검거', '발생'], dtype='object', name='발생검거')

In [20]:
# 새로 규정된 컬럼명 생성 하기 
new_cols =[ fStr + bStr
          for fStr in tmp.columns.levels[1]
          for bStr in tmp.columns.levels[2]
          ]
new_cols

['강간검거',
 '강간발생',
 '강도검거',
 '강도발생',
 '살인검거',
 '살인발생',
 '절도검거',
 '절도발생',
 '폭력검거',
 '폭력발생']

In [21]:
# 전체 컬럼명을 변경하는 방법을 덮어버려라 ? (순서주의)
tmp.columns = new_cols

In [22]:
tmp.head(2)

    강간검거  강간발생  강도검거  강도발생  살인검거  살인발생  절도검거  절도발생  폭력검거  폭력발생
구분
강남   366   456    16    13     6     6   787  2069  1942  2229
강동   169   172    12    10     6     5   949  1645  2109  2429

In [23]:
crime_data = tmp[:]

In [24]:
crime_data.head(2)

    강간검거  강간발생  강도검거  강도발생  살인검거  살인발생  절도검거  절도발생  폭력검거  폭력발생
구분
강남   366   456    16    13     6     6   787  2069  1942  2229
강동   169   172    12    10     6     5   949  1645  2109  2429

In [7]:
import urllib.request
import json
import googlemaps

관할서 이름 => 풀네이밍 구성 , 강남 => 서울 강남경찰서 <br>
서울강남경찰서 => gps 확득 => Goolge api 이용 <br>
서울 강남경찰서 => address => 자치구 정보 확득 (1개 관할서는 보정) <br>

In [14]:
#API
gmaps_key = "AIzaSyDb2ByXWRX_BU3gT8YssiDik2samLyQbtQ"
gmaps   =  googlemaps.Client(key=gmaps_key)

In [15]:
gmaps.geocode('서울중부경찰서',language='ko')

ApiError: REQUEST_DENIED (You must enable Billing on the Google Cloud Project at https://console.cloud.google.com/project/_/billing/enable Learn more at https://developers.google.com/maps/gmp-get-started)