## Pandas 기초 
- pandsas는 R의 핵심 데이터 시리즈와 프레임을 파이썬에 추가한 것이다.
- numpy를 기반으로 구현되었고, numpy 대비 기능을 더 확장하여 재구현한것
- Python Data Analysis Library
    + https://pandas.pydata.org

In [1]:
import numpy as np
import pandas as pd

In [ ]:
- 파이썬의 자료구조
> 수치형, 문자열, 리스트, 딕셔너리, 튜플, 집합, 블린  

- *numpy의 자료구조*
> ndarray(배열) : 배열의 데이터는 모든 같은 타입이다.
    
- pandas의 자료구조
> Series(시리즈), DataFrame(데이터프레임)  
> DataFrame의 인덱싱 -> Series의 인덱싱 -> 값(스칼라), 수치, 문자, 블린, NaN 이 등장  
> Series: 인덱스와 데이터만 존재하는, 컬럼이 없는 자료구조  
> DataFrame: 인덱스와 컬럼이 존재하는 자료구조
> NaN : 데이터가 없다. (난, 넌), Not a Number => np.nan

In [2]:
#series
# 데이터를 정수로 넣었으나 기본형으로 float64가 반영되었다.
s = pd.Series([1,3,5,np.nan,6,8])
s
# 데이터 유형중 기초가 되는 것 -> 대괄호로 만드는 파이썬의 list 데이터로 만들수 있음

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [7]:
# DataFrame
# 인덱스와 컬럼이 존재하는 자료구조
cols   = list('ABCD') # ['A','B','C','D']
indexs = pd.date_range('20190812', periods=7)

# 컬럼 4개, 인덱스 7개
cols, indexs

(['A', 'B', 'C', 'D'],
 DatetimeIndex(['2019-08-12', '2019-08-13', '2019-08-14', '2019-08-15',
                '2019-08-16', '2019-08-17', '2019-08-18'],
               dtype='datetime64[ns]', freq='D'))

In [8]:
# 데이터는  shape => (7,4)
datas = np.random.randn(7,4)
datas, datas.shape

(array([[-0.14732744, -0.37400381,  0.0036363 ,  0.04567961],
        [ 0.33400227, -1.0709167 ,  0.4878151 ,  1.37947213],
        [-0.95636274, -0.52297467,  0.20738624, -1.32708231],
        [ 0.27119255, -0.76836801,  1.13215647,  1.45282316],
        [ 0.42313991, -0.14819821, -0.10287676, -0.82830324],
        [ 0.93592543, -0.80372264, -1.5430355 , -1.01882638],
        [ 0.43870656, -0.71827096, -0.27821445,  0.47521379]]), (7, 4))

In [6]:
# df 생성
df = pd.DataFrame(np.random.randn(6,4),index=dates, columns=['A','B','C','D'])
df

                   A         B         C         D
2018-12-14 -0.297869  0.351047  1.279110 -0.220042
2018-12-15 -0.586203 -0.193220  0.148834 -0.154038
2018-12-16  0.929718 -0.304167  1.123938 -0.831542
2018-12-17  0.206973  1.448165 -1.521021  1.817648
2018-12-18 -0.311712 -0.923587  0.317474 -0.453546
2018-12-19 -0.017377  0.212765  0.672226 -1.221966

- **데이터가 로드된후 DataFrame을 만든후 점검할 사항**

In [9]:
df.head(3)

                   A         B         C         D
2018-12-14 -0.297869  0.351047  1.279110 -0.220042
2018-12-15 -0.586203 -0.193220  0.148834 -0.154038
2018-12-16  0.929718 -0.304167  1.123938 -0.831542

In [10]:
df.tail(3)

                   A         B         C         D
2018-12-17  0.206973  1.448165 -1.521021  1.817648
2018-12-18 -0.311712 -0.923587  0.317474 -0.453546
2018-12-19 -0.017377  0.212765  0.672226 -1.221966

In [11]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [12]:
df.index

DatetimeIndex(['2018-12-14', '2018-12-15', '2018-12-16', '2018-12-17',
               '2018-12-18', '2018-12-19'],
              dtype='datetime64[ns]', freq='D')

In [13]:
type(df.values)

numpy.ndarray

In [14]:
# 속성-크기
df.shape
# 1차원데이터로 총6개의 데이터가 존재

(6, 4)

In [15]:
# df의 개요
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6 entries, 2018-12-14 to 2018-12-19
Freq: D
Data columns (total 4 columns):
A    6 non-null float64
B    6 non-null float64
C    6 non-null float64
D    6 non-null float64
dtypes: float64(4)
memory usage: 240.0 bytes

In [16]:
# 통계요약 : 개수, 평균, 표준편차, 최소, 25%, 50%, 75%, 최대
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.012745  0.098501  0.336760 -0.177247
std    0.535923  0.798791  1.010668  1.056206
min   -0.586203 -0.923587 -1.521021 -1.221966
25%   -0.308251 -0.276430  0.190994 -0.737043
50%   -0.157623  0.009773  0.494850 -0.336794
75%    0.150886  0.316477  1.011010 -0.170539
max    0.929718  1.448165  1.279110  1.817648

In [17]:
# B열 기준데이터를 정렬, 내림차순 
df.sort_values( by='B', ascending = False )

                   A         B         C         D
2018-12-17  0.206973  1.448165 -1.521021  1.817648
2018-12-14 -0.297869  0.351047  1.279110 -0.220042
2018-12-19 -0.017377  0.212765  0.672226 -1.221966
2018-12-15 -0.586203 -0.193220  0.148834 -0.154038
2018-12-16  0.929718 -0.304167  1.123938 -0.831542
2018-12-18 -0.311712 -0.923587  0.317474 -0.453546

In [18]:
# 특정 컬럼의 데이터만 보기 => 인덱싱 => 차원축소
df['A']

2018-12-14   -0.297869
2018-12-15   -0.586203
2018-12-16    0.929718
2018-12-17    0.206973
2018-12-18   -0.311712
2018-12-19   -0.017377
Freq: D, Name: A, dtype: float64

In [20]:
# 슬라이싱 : 차원유지 
df[:2] # 카피동일

                   A         B         C         D
2018-12-14 -0.297869  0.351047  1.279110 -0.220042
2018-12-15 -0.586203 -0.193220  0.148834 -0.154038

In [21]:
# 데이터가 슬라이싱 되서 나온다 => 차원을 유지해야 하니까
# a <= x <b
df[1:3]

                   A         B         C         D
2018-12-15 -0.586203 -0.193220  0.148834 -0.154038
2018-12-16  0.929718 -0.304167  1.123938 -0.831542

In [23]:
# 슬라이싱을 하는데 인덱스값이 아닌, 실제값으로 자르기
# a <= x <=b
df[ '2018-12-15' : '2018-12-16' ]

                   A         B         C         D
2018-12-15 -0.586203 -0.193220  0.148834 -0.154038
2018-12-16  0.929718 -0.304167  1.123938 -0.831542

- 전통적인 인덱싱와 슬라이싱을 진행하면 표현의 한계점에 도달
- 이를 극복하기 위해서 pandas 만의 데이터 추출법이 추가가 되었다 
- loc, iloc <= 2개를 주로 사용한다
- 연속데이터에 대한 추출 <-> 비연속 데이터들의 추출법 (펜시인덱싱, 쿼리수행등등)

## loc

In [25]:
# loc : location 정보를 옵션으로 하여 슬라이싱 지원 
# loc을 통한 데이터 추출 
# df.loc[인덱스 명]
df.loc[ '2018-12-15' ], type(df.loc[ '2018-12-16' ])

(A   -0.586203
 B   -0.193220
 C    0.148834
 D   -0.154038
 Name: 2018-12-15 00:00:00, dtype: float64, pandas.core.series.Series)

In [26]:
# 원본카피
df.loc[ : ]

                   A         B         C         D
2018-12-14 -0.297869  0.351047  1.279110 -0.220042
2018-12-15 -0.586203 -0.193220  0.148834 -0.154038
2018-12-16  0.929718 -0.304167  1.123938 -0.831542
2018-12-17  0.206973  1.448165 -1.521021  1.817648
2018-12-18 -0.311712 -0.923587  0.317474 -0.453546
2018-12-19 -0.017377  0.212765  0.672226 -1.221966

In [28]:
# 인덱스쪽은 전부 포함시키고(1차원), 컬럼은 A,C만 포함(2차원)
df.loc[ : , ['A','C'] ]

                   A         C
2018-12-14 -0.297869  1.279110
2018-12-15 -0.586203  0.148834
2018-12-16  0.929718  1.123938
2018-12-17  0.206973 -1.521021
2018-12-18 -0.311712  0.317474
2018-12-19 -0.017377  0.672226

In [29]:
# 차원축소
df.loc[ : , 'A' ]

2018-12-14   -0.297869
2018-12-15   -0.586203
2018-12-16    0.929718
2018-12-17    0.206973
2018-12-18   -0.311712
2018-12-19   -0.017377
Freq: D, Name: A, dtype: float64

In [30]:
# 차원유지
df.loc[ : , ['A'] ]

                   A
2018-12-14 -0.297869
2018-12-15 -0.586203
2018-12-16  0.929718
2018-12-17  0.206973
2018-12-18 -0.311712
2018-12-19 -0.017377

In [31]:
df.loc[ '2018-12-15':'2018-12-17' , ['A','C'] ]

                   A         C
2018-12-15 -0.586203  0.148834
2018-12-16  0.929718  1.123938
2018-12-17  0.206973 -1.521021

In [36]:
# 차원축소 -> 인덱스를 한개만 지정
df.loc[ '2018-12-15' , ['A','C'] ]

A   -0.586203
C    0.148834
Name: 2018-12-15 00:00:00, dtype: float64

In [41]:
# 차원축소가 2회 진행 -> 스칼라(값)
df.loc['2018-12-15', 'A' ]

-0.586202811428424

### iloc

- 펜시인덱싱과 유사 하다
- 행과 열의 번호를 이용하여 데이터를 접근하는 방식
- i-> index

In [44]:
# 2018-12-15 자 데이터 추출
# 1 => 인덱스값이 1인 데이터
df.iloc[ 1 ]

A   -0.586203
B   -0.193220
C    0.148834
D   -0.154038
Name: 2018-12-15 00:00:00, dtype: float64

In [45]:
# iloc 슬라이싱
# a <= index < b,   c <= column < d
df.iloc[ 1:3, 1:3 ]

                   B         C
2018-12-15 -0.193220  0.148834
2018-12-16 -0.304167  1.123938

In [46]:
# iloc + 펜시인덱싱 기법 사용 (인덱스, 컬럼을 비연속적 위치를 나열)
df.iloc[ [1,4,2] , [0,2] ]

                   A         C
2018-12-15 -0.586203  0.148834
2018-12-18 -0.311712  0.317474
2018-12-16  0.929718  1.123938

In [48]:
# 특정 조건에 만족하는 데이터만 추출
# 데이터프레임이 생성되면 컬러명은 맴버 변수로 자동생성됨
# C컬럼에 존재하는 데이터중에 양수만(양수면 True, 0이하면 False)
# 조건을 부여하여 블리언 데이터를 만들어 참만 포함시키는 방식 : 블리언 인덱싱
# [ T, F, F, F, T, T, T ] 데이터를  and하면 참만 살아남아서 아래과 같은 결과를 발생
# df에 식을 치면 => 전체 구성원에 전부다 연산이 진행된다 
# 행렬 (연산) 값 => 각 구성원에 일일이 다 연산하는것과 동일
df[ df.C > 0 ]

                   A         B         C         D
2018-12-14 -0.297869  0.351047  1.279110 -0.220042
2018-12-15 -0.586203 -0.193220  0.148834 -0.154038
2018-12-16  0.929718 -0.304167  1.123938 -0.831542
2018-12-18 -0.311712 -0.923587  0.317474 -0.453546
2018-12-19 -0.017377  0.212765  0.672226 -1.221966

In [49]:
#데이터 전체를 기준으로 0보다 큰가 ? 0보다 같거나 작은 데이터들은 ? Nan 대체
df[ df > 0 ]

                   A         B         C         D
2018-12-14       NaN  0.351047  1.279110       NaN
2018-12-15       NaN       NaN  0.148834       NaN
2018-12-16  0.929718       NaN  1.123938       NaN
2018-12-17  0.206973  1.448165       NaN  1.817648
2018-12-18       NaN       NaN  0.317474       NaN
2018-12-19       NaN  0.212765  0.672226       NaN

In [61]:
# 복사 
df.copy(), df[:]

(                   A         B         C         D
 2018-12-14 -0.297869  0.351047  1.279110 -0.220042
 2018-12-15 -0.586203 -0.193220  0.148834 -0.154038
 2018-12-16  0.929718 -0.304167  1.123938 -0.831542
 2018-12-17  0.206973  1.448165 -1.521021  1.817648
 2018-12-18 -0.311712 -0.923587  0.317474 -0.453546
 2018-12-19 -0.017377  0.212765  0.672226 -1.221966,
                    A         B         C         D
 2018-12-14 -0.297869  0.351047  1.279110 -0.220042
 2018-12-15 -0.586203 -0.193220  0.148834 -0.154038
 2018-12-16  0.929718 -0.304167  1.123938 -0.831542
 2018-12-17  0.206973  1.448165 -1.521021  1.817648
 2018-12-18 -0.311712 -0.923587  0.317474 -0.453546
 2018-12-19 -0.017377  0.212765  0.672226 -1.221966)

In [64]:
# 기존 데이터 df에 새로운 컬럼을 추가한다 !! (아주 중요) => 파생변수
# 기존  df의 1차원과 동수의 데이터가 존재해야 한다
# 데이터는 리스트 ok, Series도 ok
new_data = ['one','one','two','three','four','three']
# 데이터 추가, 대상[ 신규컬럼명 ] = 데이터
df['E']= new_data
df.head()

                   A         B         C         D      E
2018-12-14 -0.297869  0.351047  1.279110 -0.220042    one
2018-12-15 -0.586203 -0.193220  0.148834 -0.154038    one
2018-12-16  0.929718 -0.304167  1.123938 -0.831542    two
2018-12-17  0.206973  1.448165 -1.521021  1.817648  three
2018-12-18 -0.311712 -0.923587  0.317474 -0.453546   four

In [65]:
# 데이터 조사
# 안에 그런값이 잇는가?
df['E'].isin( ['two','four'] )

2018-12-14    False
2018-12-15    False
2018-12-16     True
2018-12-17    False
2018-12-18     True
2018-12-19    False
Freq: D, Name: E, dtype: bool

In [66]:
df[df['E'].isin( ['two','four'] )]

                   A         B         C         D     E
2018-12-16  0.929718 -0.304167  1.123938 -0.831542   two
2018-12-18 -0.311712 -0.923587  0.317474 -0.453546  four

In [67]:
df

                   A         B         C         D      E
2018-12-14 -0.297869  0.351047  1.279110 -0.220042    one
2018-12-15 -0.586203 -0.193220  0.148834 -0.154038    one
2018-12-16  0.929718 -0.304167  1.123938 -0.831542    two
2018-12-17  0.206973  1.448165 -1.521021  1.817648  three
2018-12-18 -0.311712 -0.923587  0.317474 -0.453546   four
2018-12-19 -0.017377  0.212765  0.672226 -1.221966  three

In [68]:
# 누적합
# apply( 함수를 표현 ) => 맴버들을 다 건드린다
# -> E를 보면 이해가 쉽다 !
df.apply(np.cumsum)

                   A         B         C         D                        E
2018-12-14 -0.297869  0.351047  1.279110 -0.220042                      one
2018-12-15 -0.884072  0.157827  1.427944 -0.374079                   oneone
2018-12-16  0.045647 -0.146340  2.551881 -1.205621                oneonetwo
2018-12-17  0.252620  1.301825  1.030861  0.612027           oneonetwothree
2018-12-18 -0.059092  0.378238  1.348334  0.158482       oneonetwothreefour
2018-12-19 -0.076469  0.591003  2.020560 -1.063484  oneonetwothreefourthree

In [69]:
# 제거
try:    
    # 제거
    df.drop( ['E'], inplace=True, axis=1 )
    df
except Exception as e:
    pass

In [70]:
# 각 컬럼의 최대값에서 최소값을 뺀 값 => 거리:distance
df.apply( lambda x:x.max()-x.min() )

A    1.515921
B    2.371752
C    2.800130
D    3.039614
dtype: float64

In [71]:
df.max(), df.min()

(A    0.929718
 B    1.448165
 C    1.279110
 D    1.817648
 dtype: float64, A   -0.586203
 B   -0.923587
 C   -1.521021
 D   -1.221966
 dtype: float64)